@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Share+Tech+Mono&display=swap');

@import "tailwindcss";


.bungee-regular {
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 35px;
  line-height: 1.0;
  
}

.tech-mono {
  font-family: "Share Tech Mono", monospace;
  font-weight: 400;
  font-style: normal;
}